extends ../layout

block head
  title Home

block content
  .container-fluid
      .row
          .col-xs-12.jumbotron.article#hero1
            h2 
              a(href='/sezione1.html') Titolo1
            
      .row
          .col-xs-12.jumbotron.article#hero2
            h2 Titolo 2
      .row
          .col-xs-12.jumbotron.article#hero3
            h2 Titolo 3
      .row
          .col-xs-12.jumbotron.article#hero4
            h2 Titolo 4
      .row
          .col-xs-12.jumbotron.article#hero5
            h2 Titolo 5     