extends ../layout

block head
  title contatti

block content
  .container-fluid
    h1 ciao
    h2 sei in contatti
    section.contents
      p#content1
      img.img-responsive(src="images/pi.jpg")
   
  